img.scratch{
    box-shadow: 30px 30px 10px rgba(241, 135, 14, 0.781);
}
h3,h2,h1{
    background-color: rgba(0, 0, 0, 0.521);
    color:white;
    font-style:italic;
    box-shadow: 15px 15px 30px rgba(233, 4, 4, 0.521);
}
span.page{
    color:red;
    font-size:15px;
    font-style:italic;
}
address{
    color:white;
    box-shadow: 10px 10px 10px rgba(200, 200, 200, 0.6);
}
body{
    background-color: black;
}
p{
    color:lightskyblue;
}
#red{
    color:rgb(238, 151, 151);
}
strong{
    color:white;
}