html{
    background-color: #000000;
    user-select: none;
}
div.Intro {
  height: 0;
}
.coming{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-family: 'Poiret One',cursive;
}
@keyframes feedin{
    0% {
      opacity: 0;
      bottom: 100px;
    }

    100% {
      opacity: 1;
      bottom: -200px;
    }
}

@keyframes feedout{
  0% {
    bottom: 0px;
    opacity: 1;
  }

  100%{
    bottom: -280px;
    opacity: 0;
  }
}
