html{
    background-color: black;
    user-select: none;
}
h1.coming{
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Poiret One',cursive;
    animation: Test2 3s -0.5s;
    animation-fill-mode: forwards;
}

@keyframes Test2{
    0% {transform: translateY(-200px); 
        color: black;}
    100% {transform: translateY(230px); 
        color: white;}
}