html{
    background-color: black;
}
h1.coming{
    font-size: 50px;
    text-align: center;
    margin-top: 280px;
    font-family: 'Poiret One',cursive;
    animation: Test1 1s ease -0.2s infinite alternate;
}

@keyframes Test1{
    0% {
        color: black;
    }

    100% {
        color: white;
    }
}